* {
	box-sizing: border-box;
}
body, html {
	padding: 0;
	margin: 0;
}
.wrap {
	max-width: 1000px;
	margin: auto;
}
#banner img {
	width: 100%;
	height: 300px;
}
#banner {
	position: relative;
}
#avatar {
	position: absolute;
	width: 200px;
	border-radius: 50%;
	top: 65px;
}
.set img {
	float: left;
	width: 50%;
	padding: 15px;
}
ul {
	list-style-type: none;
}
#menu {
	display: block;
	background-color: yellow;
	font-weight: bold;
}
#menu ul li a {
	text-decoration: none;
}
#menu ul li {
	font-size: 30px;
}
#menu ul li ul {
	display: none;
}
#menu ul li:hover ul {
	display: block;
}